%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the location of the street light
  %li
    the street light reference number (if known)
  %li
    whether there is any obvious damage to the street light

