%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the type of problem with the door
  %li
    whether there is any obvious damage to the door
  %li
    the location of the door (if there are multiple access doors)

