%h1
  Let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the problem with the lift
  %li
    whether there's any obvious damage to the lift
  %li
    where the faulty lift is (the nearest property)
