%h1
  Let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the problem with the rubbish chute
  %li
    whether there's any obvious damage to the rubbish chute
  %li
    where the rubbish chute is
    (the nearest property or the floor number)
