%h1
  Let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    The exact location of the damp
  %li
    The rough size of the damp patch
  %li
    whether damp has formed in this area before
  %li
    whether there is any obvious damage to the external wall (if applicable)

