%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    how is the glass damaged
  %li
    how the damage occurred
  %li
    whether you have a crime reference number (if the
    window has been vandalised)

