%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    how the tap is broken
  %li
    the type of tap, if you know it - for example, pillar or mixer

