%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the type of repair problem with your cupboards or worktop
  %li
    the finish/colour of your kitchen cupboards or worktop (if known)


