%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    whether there is an error message on your boiler
  %li
    if the problem has happened previously

