%h1
  Let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the exact location of the mould
  %li
    the size and colour of the mould patch
  %li
    whether the mould has formed in this area before
