%h1
  Let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the problem with the guttering or downpipe
  %li
    whether there's any obvious damage
  %li
    the material it's made from - for example, cast iron, plastic
  %li
    where the problem is (the nearest property or floor number)
