%h1
  What is the problem outside your home?

%ul
  %li
    the guttering or downpipe is blocked or damaged
  %li
    a drain is blocked
  %li
    paving is broken or coming loose
  %li
    the roof is leaking - containable
  %li
    a light is not working
  %li
    I have pest or rodents in or near my home
  %li
    something else
