%h1
  Please let us know any additional details you think might help us

%p
  Please describe:

%ul
  %li
    the type of problem with the guttering or downpipe
  %li
    whether there is any obvious damage
  %li
    the material it's made from (for example: cast iron, plastic)
  %li
    the location of the problem, such as nearest property or floor number




