= back_link

%h1
  Beta on hackney.gov.uk

%p
  The ‘beta’ label means you’re looking at the first version of a new service or web page.

%h2
  Beta services

%p
  We regularly launch new or redesigned digital services. During the beta phase services
  are continually tested and improved.

%p
  The beta label is displayed on a new service to show it’s being tested - it may not
  work for everyone.

%p
  Redesigned services should be easier to use than the services they replace.

%p
  Sometimes a beta service will be available at the same time as an older,
  existing service - you can choose which one to use.

%p
  Successful beta services eventually become ‘live’ and replace any older services
  that perform the same task.


