= back_link

%h1
  Carbon Monoxide Alarm

%h2
  What to do if your carbon monoxide (CO) alarm has triggered

%ol
  %li
    Turn off the gas supply at the gas meter
  %li
    Extinguish all sources of ignition
  %li
    Do not smoke
  %li
    Do not operate electrical light switches and power sockets
  %li
    Do not use the door entry system, if you are granting anyone access, go down to the entrance door to let them in
  %li
    Open doors and windows to ventilate the area
  %li
    Contact National Grid on
    %strong= gas_emergency_telephone_number
    from outside the property
