= back_link

%h1
  Communal repair

%p
  If a repair is needed in a communal area,
  please call us so we can review your
  repair and schedule an appointment.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')
