= back_link

%h1
  What to do if you have a problem with condensation

%p
  Condensation is the moisture build up caused by
  everyday activities such as cooking, showering/bathing
  and drying clothes indoors. You can take some simple steps
  to reduce condensation, helping to prevent damp and mould.

%p
  You can find helpul tips on how to prevent condensation
  %a{ href: 'https://www.hackney.gov.uk/damp-and-mould#Preventing%20condensation' } on Hackney Council page.

%p
  If you need more guidance on how to deal with condensation you can call
  Repairs Contact Centre.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')
