= back_link

%h1
  Common fixes - damp and mould

%h2
  How to tackle damp and mould in your home

%p
  Watch this short video for some advice on dealing
  with damp and mould problem areas in your home.

%object{ height: '315', width: '560' }
  %param{ name: 'movie', value: 'http://www.youtube.com/v/7nq71pGBGI8?version=3&hl=en_US' }/
  %param{ name: 'allowFullScreen', value: 'true' }/
  %param{ name: 'allowscriptaccess', value: 'always' }/
  %embed{ allowfullscreen: 'true', allowscriptaccess: 'always', height: '315', src: 'http://www.youtube.com/v/7nq71pGBGI8?version=3&hl=en_US', type: 'application/x-shockwave-flash', width: '560' }

%p
  Select continue if you'd still like to report this repair.

%p= link_to 'Continue', questions_path('damp_or_mould_problem'), class: 'button'

