= back_link

%h1
  Electrical safety

%p
  %strong
    You should always be extremely careful with any faulty
    or exposed electrics in your home and make sure no one
    else in the house is in danger from them.

%p
  If you're uncertain or have any immediate concerns about
  an electrical repair issue in your home, please call our
  repairs contact centre for guidance on
  = succeed '.' do
    = repairs_contact_centre_telephone_number

%p
  If you'd like to book an appointment for your electrical
  repair, please select continue.

%p= link_to 'Continue', describe_repair_path, class: 'button'
