= back_link

%h1
  Emergency repairs

%h2
  The problem you're having might need immediate attention

%p
  Please report emergency or urgent repair problems
  through our Repairs Contact Centre - this will allow us to
  review your repair straight away and schedule
  an appointment.

= render partial: 'pages/emergency_telephone_numbers'
