%h1
  Please call our repair centre

%p.lede
  The problem you're having might need urgent attention.

%p
  Please call us on 020 8356 2300 so we can help you with your problem.

%p
  = link_to t('back_links.prefix', page_description: t('back_links.previous')), :back
