= back_link

%h1
  Heating repairs

%h2
  Watch this short video to find out how to fix common heating problems.

%object{ height: '315', width: '560' }
  %param{ name: 'movie', value: 'http://www.youtube.com/v/ktklk7d0ibY?version=3&hl=en_US' }/
  %param{ name: 'allowFullScreen', value: 'true' }/
  %param{ name: 'allowscriptaccess', value: 'always' }/
  %embed{ allowfullscreen: 'true', allowscriptaccess: 'always', height: '315', src: 'http://www.youtube.com/v/ktklk7d0ibY?version=3&hl=en_US', type: 'application/x-shockwave-flash', width: '560' }

%p
  If your heating still isn't working, call our
  Repairs Contact Centre to schedule an appointment.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')
