= back_link

%h1
  What to do if you have no heating

%br/

%h2
  The problem you're having might need immediate attention

%p
  Please report emergency or urgent repair problems
  through our Repairs Contact Centre - this will allow us to
  review your repair straight away and schedule
  an appointment.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')

%p
  You can also watch this short video to find out
  %a{ href: 'https://www.youtube.com/v/ktklk7d0ibY?version=3&hl=en_US' } how to fix common heating problems.
