%h1
  Heating repairs

%h2
  Watch this short video to find out how to fix common heating problems.

%iframe{ width: '560', height: '315', src: 'https://www.youtube.com/embed/ktklk7d0ibY?rel=0&amp;showinfo=0', frameborder: '0', allowfullscreen: true }

%p
  If your heating still isn't working, please call our repairs contact
  centre so that we can help resolve this and schedule a
  suitable appointment.

%p
  Please call the repairs contact centre on
  %strong
    020 8356 2300
  Monday&ndash;Friday 8am&ndash;7pm and
  Saturday 9am&ndash;1pm.
