= back_link

%h1
  Heating repairs

%h2
  Watch this short video to find out how to fix common heating problems.

%object
  %param{ name: 'movie', value: 'https://www.youtube.com/v/ktklk7d0ibY?version=3&hl=en_US' }/
  %param{ name: 'allowFullScreen', value: 'true' }/
  %param{ name: 'allowscriptaccess', value: 'always' }/
  %embed{ allowfullscreen: 'true', allowscriptaccess: 'always', src: 'https://www.youtube.com/v/ktklk7d0ibY?version=3&hl=en_US', type: 'application/x-shockwave-flash' }

%p
  If your heating still isn't working, call us to schedule an appointment.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')
