= back_link

%h1
  Disabilities and home adaptations

%p
  If your home has been altered or adapted due to a disability,
  please call our Repairs Contact Centre so we can review your
  repair immediately and schedule an appointment.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')

