= back_link

%h1
  Disabilities and home adaptations

%p
  If you're reporting a repair to your home where it has been altered or
  adapted to better meet your needs due to a disability, please call our
  repairs contact centre so we can review your repair immediately and
  schedule a suitable appointment.

%p
  Please call the repairs contact centre on
  %strong
    020 8356 2300
  Monday&ndash;Friday 8am&ndash;7pm and
  Saturday 9am&ndash;1pm.

