= back_link

%h1
  Multiple Properties

%p
  If your issue is affecting multiple properties,
  please call us so we can review your
  repair and schedule an appointment.

%p
  Repairs Contact Centre:
  %strong= repairs_contact_centre_telephone_number
  = succeed '.' do
    = t('rcc_opening_hours')
