= back_link

%h1
  Common fixes - replacing a lightbulb

%p
  Watch this short video for advice on how to replace a light bulb or a lamp in your home.

%iframe{ width: '560', height: '315', src: 'https://www.youtube.com/embed/NZN2AZAMPHY?rel=0&amp;showinfo=0', frameborder: '0', allowfullscreen: true }

%p
  If you've replaced the bulb and the light still isn't working, please select continue to book an appointment.

%p
  = link_to 'Continue', describe_repair_path(details: 'inside_light_fitting'), class: 'button'
