= back_link

%h1
  Common fixes - replacing a lightbulb

%p
  Watch this short video for advice on how to replace a light bulb or a lamp in your home.

%object
  %param{ name: 'movie', value: 'https://www.youtube.com/v/NZN2AZAMPHY?version=3&hl=en_US' }/
  %param{ name: 'allowFullScreen', value: 'true' }/
  %param{ name: 'allowscriptaccess', value: 'always' }/
  %embed{ allowfullscreen: 'true', allowscriptaccess: 'always', src: 'https://www.youtube.com/v/NZN2AZAMPHY?version=3&hl=en_US', type: 'application/x-shockwave-flash' }

%p
  If you've replaced the bulb and the light still isn't working, please select continue to book an appointment.

%p
  = link_to 'Continue', describe_repair_path(details: 'inside_light_fitting'), class: 'button'
