= back_link

%h1
  Smoke detector beeping

%p
  If your smoke detector or fire alarm is beeping please call the
  repairs contact centre. This will allow us to review the problem
  as a priority and schedule a suitable appointment to help
  resolve the issue quickly.

= render partial: 'emergency_telephone_numbers'
