%h1
  Report a repair

%p.lede
  We provide housing and communal area repairs for our tenants.

%p
  You can use this online service to report the most common problems with your home.</p>

%p
  Reporting a repair should take around 5 minutes.

%p.notice
  %i.icon.icon-important
  %strong.bold-small
    If you can smell gas, please call National Gas Emergency on:
    %br/
    %span{ itemprop: 'telephone' }
      %a{ href: 'tel:0800111999' }
        0800 111 999

%p
  %a.button.button-start{ href: '/questions/start/' } Start

%aside
