%h1
  Report a repair

%p.lede
  We provide housing and communal area repairs for council tenants,
  and communal repairs for leaseholders.

%p
  You can use this service to:

%ul
  %li
    report non-emergency repairs to your home
  %li
    choose a date and time for us to carry out the repair

%p
  Reporting a repair should take around 5 minutes.

%p.notice
  %i.icon.icon-important
    %span.visually-hidden
      Important

  %strong
    If you can smell gas, please call National Gas Emergency on:
    %br/
    %span{ itemprop: 'telephone' }
      %a{ href: 'tel:0800111999' }
        0800 111 999

%p
  %a.button.button-start{ href: '/questions/start/' } Start

%h2
  Emergency and urgent repairs

%p
  If your repair is an emergency, please call the
  Repairs Contact Centre on
  %span{ itemprop: 'telephone' }
    = succeed '.' do
      %a{ href: 'tel:02083563691' } 020 8356 3691

%p
  They are open
  %strong
    Monday to Friday 8am to 7pm
  and
  %strong
    Saturday 9am to 1pm

%h2
  Home improvements

%p
  Please note, you are responsible for any home improvements you carry
  out yourself.

%h2
  Tenant Management Organisation (TMO)

%p
  If your home is managed by a TMO, please contact them first for
  help with repairs.
