%h1
  This is a heading

%h2
  This is a subheading

%p.lede
  Magnis metus vestibulum porta sagittis vestibulum quisque convallis vitae viverra a est.

%p
  Litora laoreet quis porta at diam ante adipiscing a a non vulputate at urna ut curae
  lacus felis viverra massa vestibulum conubia auctor ad risus tincidunt netus. Maecenas
  sociosqu vel tellus vitae nec curabitur erat interdum phasellus eget ante mauris mollis
  placerat praesent porttitor adipiscing dui. A fermentum vehicula adipiscing dis cubilia
  a felis in laoreet ac suspendisse fringilla urna maecenas natoque per nisi condimentum.
%p
  Mus id aptent ac lectus. Taciti in ac dis vehicula netus ut bibendum a placerat
  pulvinar felis cras a et. Natoque vestibulum at fringilla a arcu lacus senectus
  consectetur adipiscing aenean dictumst elementum scelerisque nec a ante penatibus ut
  ultricies.

%p
  Et adipiscing gravida dictumst et adipiscing convallis massa parturient
  faucibus ante placerat himenaeos ante lectus erat sem diam in mi ridiculus vel sed
  nisi netus condimentum a suspendisse dictumst.

%p.notice
  %i.icon.icon-important
    %span.visually-hidden
      Important

  %strong
    If you smell gas, please call National Gas Emergency on
    = gas_emergency_telephone_number
    for assistance.

%ul
  %li
    hendrerit dignissim a euismod suspendisse
  %li
    a aliquam et netus
  %li
    curabitur a condimentum posuere

%ol
  %li
    hendrerit dignissim a euismod suspendisse
  %li
    a aliquam et netus
  %li
    curabitur a condimentum posuere

.panel.panel-border-wide
  %p
    Use bordered inset text to draw attention to important content on the page.


%p
  %button.button
    Regular button

%p
  %button.button.button-start
    Start button

