= back_link

%h1
  Common fixes - unblocking a toilet

%p
  Watch this short video for advice on how to unblock a toilet in your home.

%object{ height: '315', width: '560' }
  %param{ name: 'movie', value: 'http://www.youtube.com/v/_zzMhYpaD-o?version=3&hl=en_US' }/
  %param{ name: 'allowFullScreen', value: 'true' }/
  %param{ name: 'allowscriptaccess', value: 'always' }/
  %embed{ allowfullscreen: 'true', allowscriptaccess: 'always', height: '315', src: 'http://www.youtube.com/v/_zzMhYpaD-o?version=3&hl=en_US', type: 'application/x-shockwave-flash', width: '560' }

%p
  If your toilet is still blocked, please
  select continue to book an appointment.

%p
  = link_to 'Continue', questions_path('blocked_only_toilet'), class: 'button'
