= back_link

%h1
  Common fixes - unblocking a sink

%p
  Watch this short video for advice on how to unblock a sink in your home.

%iframe{ width: '560', height: '315', src: 'https://www.youtube.com/embed/WTJQi7iBgiA?rel=0&amp;showinfo=0', frameborder: '0', allowfullscreen: true }

%p
  If your sink is still blocked, please
  select continue to book an appointment.

%p
  = link_to 'Continue', describe_repair_path(details: 'inside_sink_blocked'), class: 'button'
