= back_link

%h1
  Common fixes - unblocking a sink

%p
  Watch this short video for advice on how to unblock a sink in your home.

%object
  %param{ name: 'movie', value: 'https://www.youtube.com/v/WTJQi7iBgiA?version=3&hl=en_US' }/
  %param{ name: 'allowFullScreen', value: 'true' }/
  %param{ name: 'allowscriptaccess', value: 'always' }/
  %embed{ allowfullscreen: 'true', allowscriptaccess: 'always', src: 'https://www.youtube.com/v/WTJQi7iBgiA?version=3&hl=en_US', type: 'application/x-shockwave-flash' }

%p
  If your sink is still blocked, please
  select continue to book an appointment.

%p
  = link_to 'Continue', describe_repair_path(details: 'inside_sink_blocked'), class: 'button'
