%h1
  Sorry! This service is temporarily unavailable.

%p
  %strong
    Please phone our repairs contact centre on
    = succeed '.' do
      %span{ itemprop: 'telephone' }
        %a{ href: 'tel:02083563691' } 020 8356 3691
    We’re open Monday to Friday from 8am to midnight and on Saturday
    from 9am to 1pm.

%p
  If you have an emergency repair outside of these hours, you should phone us on
  = succeed '.' do
    %span{ itemprop: 'telephone' }
      %a{ href: 'tel:02083563691' } 020 8356 3691

%p
  Emergency repairs include:

%ul
  %li
    flood, fire or explosion damage
  %li
    access to get back into your property for vulnerable tenants, however we
    will charge you for doing this
  %li
    major plumbing and electrical faults resulting in large scale water loss
    or power loss
  %li
    blocked toilet where it’s your only toilet

%p
  If your emergency relates to gas, electricity or water supply emergencies,
  you should phone:

%p
  Electricity:
  %span{ itemprop: 'telephone' }
    %a{ href: 'tel:08000280247' } 0800 028 0247
  %br/
  Gas:
  %span{ itemprop: 'telephone' }
    %a{ href: 'tel:0800111999' } 0800 111 999
  %br/
  Water:
  %span{ itemprop: 'telephone' }
    %a{ href: 'tel:0800714614' } 0800 714 614
  %br/
