= back_link

= simple_form_for @form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      %h1 Is your repair one of these?

    .answers
      = f.input :answer, collection: @form.choices, checked: :none_of_the_above, as: :radio_buttons, label: false
      = f.button :submit, class: 'button'
