.question {
  margin-bottom: $gutter-half;
  max-width: 640px;
}

.radio, span.checkbox {
  @extend .multiple-choice;
}

label span.optional {
  color: $hackney-dark-grey;
  font-size: 0.8em;
}

textarea {
  @extend .form-control;

  width: 100%;
  height: 10em;
}

input.string {
  @extend .form-control;
}

.button {
  background-color: $hackney-green;
  margin-bottom: $gutter-half;

  &:visited {
    background-color: $hackney-green;
  }

  &:hover, &:focus {
    background-color: $hackney-light-green;
  }
}

// Hide bullet points in error summaries
ul.error-summary-list {
  list-style-type: none;
}

.character-limit {
  margin-top: 0.5em;
  text-align: right;
}
