header {
  background-color: $hackney-dark-grey;
  border-bottom: 4px solid $hackney-border-green;
  color: $white;
  padding: $gutter 0 ($gutter + 5px);
  position: relative;

  &:before {
    content: "";
    background: $hackney-border-green;
    bottom: 5px;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &:after {
    content: "";
    background: #9bcf80;
    bottom: -11px;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
  }

  @include media(mobile) {
    padding: $gutter-half 0;

    &:before { display: none }
    &:after { display: none }

    a {
      h2 { padding-bottom: 1px; }
    }
  }

  h1 {
    background: asset-url('logo.png') 0 0 no-repeat;
    background-size: contain;
    -ms-behavior: url(/backgroundsize.htc);
    display: inline-block;
    height: 62px;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;

    @include media(mobile) {
      height: 35px;
      width: 170px;
    }
  }

  a, a:link, a:visited, a:hover {
    background-color: $hackney-dark-grey;
    color: $white;
    text-decoration: none;
  }

  h2 {
    @include heading-24;
    display: inline-block;
    margin-left: $gutter-half;
    vertical-align: bottom;
  }
}
