header {
  background-color: $hackney-dark-grey;
  border-bottom: 8px solid $hackney-green;
  color: $white;
  padding: $gutter-half 0;

  @include media(mobile) {
    border-bottom-width: 0;
    padding: ($gutter-half / 2) 0;
  }

  h1 {
    background: asset-url('logo.png') 0 0 no-repeat;
    background-size: contain;
    -ms-behavior: url(/backgroundsize.htc);
    display: inline-block;
    height: 62px;
    overflow: hidden;
    text-indent: 100%;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;

    @include media(mobile) {
      height: 35px;
      width: 170px;
    }
  }

  a, a:link, a:visited, a:hover {
    background-color: $hackney-dark-grey;
    color: $white;
    text-decoration: none;
  }

  h2 {
    @include heading-24;
    display: inline-block;
    margin-left: $gutter-half;
    vertical-align: middle;
  }
}
