main {
  background-color: $white;
  padding: 1em 0;

  #main-content {
    @extend %site-width-container;
  }

  strong {
    font-weight: bold;
  }

  h1 {
    @include heading-36;

    color: $hackney-green;
    font-weight: bold;
  }

  h2 {
    @include heading-24;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
}

