%p
  We will call you within one working day, between
  %strong= callback.time
  to arrange a repair appointment.

%p
  %strong
    If you have any questions, please call us on
    %span{:itemprop => "telephone"}
      = link_to "020 8356 3691", "tel:+02083563691"
  and quote your reference number
  = succeed "." do
    %strong= callback.request_reference
  We are open Monday to Friday 8am - 7pm and Saturdays 9am - 1pm.
