$hackney-green: #00634a;
$hackney-mid-green: #17b15a;
$hackney-light-green: #74c043;
$hackney-grey: #d7d7d7;
$hackney-dark-grey: #252525;

$white: #fff;

$toolkit-font-stack: 'Droid Sans', arial, helvetica, sans-serif;
