= simple_form_for @form, url: request.fullpath do |f|
  %fieldset
    %legend.question
      %h1
        Please choose a date and time that suits you

    .answers
      = f.input :appointment_id, collection: @appointments, label_method: :description, as: :radio_buttons, label: false
      = f.button :submit, class: 'button'
